In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("employee-attrition").getOrCreate()

# csv 파일 로드
df = spark.read.csv('learning_spark_data/WA_Fn-UseC_-HR-Employee-Attrition.csv', header=True, inferSchema=True)
df.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

- age: 직원나이
- attrition: 이직여부 (target)
- BusinessTravel: 출장 빈도 (Travel_Frequently/Non-Travel/Travel_Rarely)
- Department: 소속 부서 (Sales/Research & Development/Human Resources)
- DistanceFromHome: 집과 직장의 거리
- Education: 교육 수준 (1~5)
- EducationField: 전공 분야 (Technical Degree/Other/Marketing/Life Sciences/Human Resources)
- EmployeeCount: 1
- 
-

In [ ]:
# DistanceFromHome, EnvironmentSatisfaction, JobSatisfaction, OverTime, WorkLifeBalance

In [ ]:
# Age, JobLevel,

In [5]:
# 데이터 확인
df.groupBy("Attrition").count().show()

+---------+-----+
|Attrition|count|
+---------+-----+
|       No| 1233|
|      Yes|  237|
+---------+-----+

In [6]:
df.groupBy('BusinessTravel').count().show()

+-----------------+-----+
|   BusinessTravel|count|
+-----------------+-----+
|Travel_Frequently|  277|
|       Non-Travel|  150|
|    Travel_Rarely| 1043|
+-----------------+-----+

In [7]:
df.groupBy('Department').count().show()

+--------------------+-----+
|          Department|count|
+--------------------+-----+
|               Sales|  446|
|Research & Develo...|  961|
|     Human Resources|   63|
+--------------------+-----+

In [8]:
df.groupBy('Education').count().show()

+---------+-----+
|Education|count|
+---------+-----+
|        1|  170|
|        3|  572|
|        5|   48|
|        4|  398|
|        2|  282|
+---------+-----+

In [9]:
df.groupBy('EducationField').count().show()

+----------------+-----+
|  EducationField|count|
+----------------+-----+
|Technical Degree|  132|
|           Other|   82|
|       Marketing|  159|
|         Medical|  464|
|   Life Sciences|  606|
| Human Resources|   27|
+----------------+-----+